body {
    background-color: #0a080c !important;
}

.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-reset-card {
    background-color: #2222226f;
    padding: 2em;
    border-radius: 1rem;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 16px rgba(47, 20, 184, 0.5);
}

.password-reset-card_title {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    font-family: 'Montserrat';
}

.password-reset-card_text {
    font-weight: 400;
    color: #fff;
    margin-bottom: 1.5em;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

.success-message {
    color: #2f14b8;
    font-weight: bold;
    margin-bottom: 1em;
}

.form-group {
    margin-bottom: 1em;
}

.password-reset-card_text {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 500;
}

.form-control {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
}

.password-reset-card-button_container .password-reset-card_Button {
    background-color: #2f14b8 !important;
    color: #fff;
}

.password-reset-card-button_container .password-reset-card_Button {
    width: 100%;
    padding: 0.7em;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1em;
    font-family: 'Montserrat';
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.password-reset-card-button_container .password-reset-card_Button:hover {
    box-shadow: 0 0 16px #2f14b8 !important;
}

.password-reset-card-button_container .password-reset-card_Button :active,
.password-reset-card-button_container .password-reset-card_Button:focus {
    box-shadow: 0 0 16px #fff;
    outline: none;
}
