.form-control:focus {
    box-shadow: none;
    border-color: #6c757d;
  }
  
  .form-control::placeholder {
    color: #6c757d;
  }
  
  /* Eliminar línea de autocompletado */
  .form-control:-webkit-autofill,
  .form-control:-webkit-autofill:hover,
  .form-control:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #212529 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  .form_search{
    min-height: 3vh !important;
    
  }
  .input_search{
    background-color: #28212f!important;
    border:none;
  }
  .button_searchbar{
    background-color: #2f14b8 !important;
    border:none;
  }