.offcanvas{
    background-color: #141118 !important;
    color: #fff;
    border: none !important;
}
.ms-1{
    color: #fff !important;
}
.btn-outline-success{
    background-color: #1e1923 !important;
    border: #000 !important;
}
.navbar .form-control{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.offcanvas-header .btn-close{
    background-color: #141118;
}
.d-flex{
    min-height: 4vh !important;
}
.searchbar-navbar {
    height: 4vh; 
    padding: 0.5rem 1rem;
    padding-left: 0;
    
}

.searchbar-navbar .form-control {
    max-height: 40px;
}

.searchbar-navbar button {
    max-height: 40px; 
    display: flex;
    align-items: center;
}